<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Angularjs Tutorial - WGS 2017</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
    <script src="node_modules/angular/angular.min.js"></script>
    <link href="starter-template.css" rel="stylesheet">
    <script src="controller.js"></script>
  </head>
  <body ng-controller="TwitController">


    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <input class="form-control" ng-model="msg" placeholder="apa yang Anda pikirkan?">
        </div>  
        <div class="col-md-4">
          <button class="btn btn-primary" ng-click="shareTwit()">Share!</button>
        </div>  
      </div>
      
      <p class="twit twit-blue">{{msg}}</p>
      
      <p ng-repeat="text in twits" class="twit">
        {{text}}
      </p>        
    </div><!-- /.container -->


  </body>
</html>